<nav>
    <ul>
        <li>
            <a routerLink="/wishers" routerLinkActive="activebutton" ariaCurrentWhenActive="page"> อวยพร </a>
        </li>
        <li>
            <a routerLink="/list-wishers" routerLinkActive="activebutton" ariaCurrentWhenActive="page"> รายการคำอวยพร
            </a>
        </li>
        <li>
            <a routerLink="/promptpay" routerLinkActive="activebutton" ariaCurrentWhenActive="page"> โอนเงิน </a>
        </li>
        <li>
            <a routerLink="/list-promptpay" routerLinkActive="activebutton" ariaCurrentWhenActive="page"> รายการโอนเงิน
            </a>
        </li>
    </ul>
</nav>