<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/wishers" routerLinkActive="active" ariaCurrentWhenActive="page">อวยพร</a></li>
    <li><a routerLink="/list-well-book" routerLinkActive="active" ariaCurrentWhenActive="page">แสดงคำอวยพร</a></li>
    <li><a routerLink="/prompt-pay" routerLinkActive="active" ariaCurrentWhenActive="page">ซองแบบ PromptPay</a></li>
    <li><a routerLink="/list-prompt-pay" routerLinkActive="active" ariaCurrentWhenActive="page">แสดงรายการ PromptPay</a></li>
  </ul>
</nav>

<router-outlet />
